body{
background-color: #F5DEB3
}

.img{
margin-right: 100px;
width: 900px;
height: 600px;

}

h1 {
text-align: center;
font-size: 55;
color: blueviolet;

}

h2 {
margin-left: 50px;
font-size: 27;
}

ul {
font-size: 20;
}

p{
font-size: 20;
text-indent: 25px;
}