
::selection {
    background-color: #754135; 
    color: #fff; 
}

input, textarea {

    color: #180e0b;
    background-color: #F5DEB3;
    border: 2px solid #754135;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select{

    color: #180e0b;
    background-color: #F5DEB3;
    border: 2px solid #754135;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em 0;
    width: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

input[type="radio"] {
    width: 20%;
}

input[type="radio"]:checked + label {
    color: #8b4513; 
    font-weight: bold; 
}

input[type="radio"]:checked + label{
    text-decoration: line-through; /* Вычеркивание текста */
}

input:focus, textarea:focus, select:focus {
    border-color: #8b4513;
    outline: none;
    box-shadow: 0 0 5px rgba(139, 69, 19, 0.5);
}

input::placeholder, textarea::placeholder {
    color: #9f7c4f;
    font-style: italic;
}

input:required {
    background-color: #fdecd2;
}

button {
    font-size: 1rem;
    color: #fff;
    background-color: #754135;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
}

button:hover {
    background-color: #8b4513;
    transition: background-color 0.3s ease; 
}

button:active {
    background-color: #5e2c18;
}

button:focus {
    outline: 2px dashed #8b4513;
    outline-offset: 2px;
}

body{
    background-color: #F5DEB3;
    background-image: url("ajy3.png");
    background-size: cover; 

    margin: 0;
    padding: 0; 
    position: relative;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}

*{
    font-family: "Vollkorn", serif;
    font-weight: normal;
    color: #180e0b;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px; 
    justify-content: space-between;
    margin: 10vh auto 5vh;
    grid-area: 1 / 1 / -1 / -1;
}

.product-section {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    gap: 2em; 
}

.product-section-ul {
    display: flex;
    flex-direction: column;
    max-width: 60%; 
}

.fixed-banner {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgba(139, 69, 19, 0.8);
    color: white;
    text-align: center;
    padding: 1em;
    z-index: 2;
  }

figure {
    flex: 2 1 auto; 
}

.img{
    
    max-width: 90%; 
    align-self: flex-start; /* Выравниваем по верхнему краю */
    margin-right: 5%;
    width: 70vw;
    height: auto;
    object-fit: cover;
    border-radius:20%;
    border: thick double #9f7c4f;
    position: relative; 
    z-index: 1; 
    background-color: rgba(227, 176, 81, 0.5); 

}
.img2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto;
    color: #754135;
    max-width: 50ch;
    width: 70%; 
    white-space: nowrap; /* Отключаем перенос строки */
}

h2:not(.special){
    margin-left: 2em;
    margin-bottom: 0.5em;
    font-size: 1.5rem;
    color: #754135;
    max-width: 25ch;
    width: auto;
    min-height: 5vh;
}

.special{
    margin-left: 2em;
    font-size: 1.3rem;
    width: auto;
    max-width: 20ch;
    min-height: 4vh;
}

p ~ h2 {
    color: rgb(128, 95, 53);
    font-size: 1.3rem;
    }

ul {
    list-style-type: disc;
    color: rgb(128, 95, 53);
    line-height: 120%;
    max-width: 90%;
    width: 25vw;
    margin-left: 2em;
    margin-top: 1em;
    }
ul li:nth-child(odd) {
    background-color: #f4d8ab;
    color: #8b4513;
}

ul li:nth-child(even) {
    background-color: #f5e1c0;
    color: #8b4513;
}

p{
    flex: 1 1 auto;
    text-indent: 2em;
    line-height: 120%;
    width: 80%;
    max-width: 90%;
    margin:  2vh 1em;
    height: auto; 
}


a{
    text-decoration: none;
    color: hsl(38, 24%, 50%);
    position: relative;
    transition: color 0.3s ease;
}

a:hover {
    color: #754135;
  }

a:active {
    color: #8b4513;
}

a:focus {
    outline: 2px dotted #754135;
    outline-offset: 1px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0;
    margin: 16px;
    position: relative;
    overflow: hidden;
    background-color: #9f7c4f;
    height: 20vh;
  }

  .loader {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #754135;
    border-radius: 50%;
    animation: spin 1s linear infinite, fadeOut 3s forwards;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  .card-content {
    opacity: 0;
    visibility: hidden;
    animation: fadeIn 3s forwards;
    animation-delay: 3s;
    height: 100%;
    
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }