body{
    background-color: #F5DEB3;
    background-image: url("ajy3.png");
    background-size: cover; 

    margin: 0;
    padding: 0; 
    position: relative;
    /* height: 30vh; */
    width: 100vw;
}

*{
    font-family: "Vollkorn", serif;
    font-weight: normal;
    color: #180e0b;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10vh auto 5vh;
}

.product-section {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    gap: 2em; 
}

.product-section-ul {
    display: flex;
    flex-direction: column;
    max-width: 60%; 
}

.fixed-banner {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #8b4513;
    color: white;
    text-align: center;
    padding: 1em;
    z-index: 2;
  }


.img{
    flex: 2 1 auto; 
    max-width: 90%; 
    align-self: flex-start; /* Выравниваем по верхнему краю */
    margin-right: 5%;
    width: 70vw;
    height: auto;
    object-fit: cover;
    border-radius:20%;
    border: thick double #9f7c4f;
    position: relative; 
    z-index: 1; 
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto;
    color: #754135;
    max-width: 50ch;
    width: 70%; 
    white-space: nowrap; /* Отключаем перенос строки */
}

h2:not(.special){
    margin-left: 2em;
    margin-bottom: 0.5em;
    font-size: 1.5rem;
    color: #754135;
    max-width: 25ch;
    width: auto;
    min-height: 5vh;
}

.special{
    margin-left: 2em;
    font-size: 1.3rem;
    width: auto;
    max-width: 20ch;
    min-height: 4vh;
}

p ~ h2 {
    color: rgb(128, 95, 53);
    font-size: 1.3rem;
    }

ul {
    list-style-type: disc;
    color: rgb(128, 95, 53);
    line-height: 120%;
    max-width: 90%;
    width: 25vw;
    margin-left: 2em;
    margin-top: 1em;
    }

p{
    flex: 1 1 auto;
    text-indent: 2em;
    line-height: 120%;
    width: 80%;
    max-width: 90%;
    margin:  2vh 1em;
    height: auto; 
}


a{
    text-decoration: none;
    color: hsl(225, 58%, 38%);
    position: relative;
}

a:hover {
    color: #754135;
  }